<ion-view view-title="Productlists">
  <ion-content>
    <p ng-show="showJson" > JSON response : {{searchResultsJson}} </p>
  
    <ion-list ng-show="showSearchResults" >
      <ion-item ng-repeat="product in searchResultsJson.productSummaryList" href="#/app/productdetail/{{product.productId}}">
        {{product.title}}
      </ion-item>
    </ion-list>
    
    <div class="list">
      <label class="item">
        <button class="button" ng-click="toggleJson()">Hide|Show JSON</button>
      </label>
    </div>
    
  </ion-content>
</ion-view>
